# Django 기본
Django==5.2.5
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==25.1

# 개발 편의성
django-debug-toolbar==5.2.0
python-decouple==3.8

# API 문서화
drf-spectacular==0.28.0
drf-yasg==1.21.10

python-decouple==3.8
python-dotenv==1.1.1
pyOpenSSL==25.1.0
openai==1.99.9